<%# provide(:title, "Home") %> <!-- home here is redundant, removing -->
<!-- So, provide and yield are a little weird looking... Essentially, provide sets the title equal to "Home" here and yield prints it out. Check out http://stackoverflow.com/questions/17457985/yield-and-provide-inside-template -->

<h1>Hello!</h1>
<p>
	I will be using this web page as I learn how to create webapps with Rails. This may actually be a good place to list my resume / contact info as well...
</p>
<!--StaticPages#home -->